.right-dash {
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.right-dash .filter form input,
.right-dash .filter form select {
  padding: 10px 20px;
  border-radius: 20px;
  border: 1px solid #c0c7cc;
}
.right-dash .filter form input:focus,
.right-dash .filter form select:focus {
  border-color: #181818;
}

.right-dash .filter form {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 20px;
}

.recommended {
  display: flex;
  gap: 20px;
}
.recommended a {
  color: black;
}
.cards-con {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.card {
  border-radius: 22px;
  overflow: hidden;
  border: 1px solid #d2d2d2;
}
.card img {
  width: 100%;
}
.card .card-content {
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.card .details {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 30px;
}
.card .details i {
  color: var(--main-blue);
}
.card button {
  width: fit-content;
  margin: auto;
  padding: 6px 12px;
  background-color: var(--dark-blue);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: var(--main-transation);
}
.card button:hover {
  transform: scale(1.1);
}
.burger-con {
  display: none;
  position: absolute;
  right: -50px;
  top: 15px;
}

@media (max-width: 787px) {
  .right-dash {
    margin-top: 30px;
    width: 100%;
  }
  .left-menu {
    position: fixed;
    left: -250px;
    top: 0;
  }
  .left-menu.active {
    left: 0;
  }
  form {
    flex-direction: column;
  }
  .cards-con {
    gap: 40px;
  }
  .card {
    width: fit-content;
    margin: auto;
  }
  .burger-con {
    display: block;
  }
  .burger-con img {
    width: 30px;
  }
}

.cards-con {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.card {
  border-radius: 22px;
  overflow: hidden;
  border: 1px solid #d2d2d2;
}
.card img {
  width: 100%;
}
.card .card-content {
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.card .details {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 30px;
}
.card .details i {
  color: var(--main-blue);
}
.card button {
  width: fit-content;
  margin: auto;
  padding: 6px 12px;
  background-color: var(--dark-blue);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: var(--main-transation);
}
.card button:hover {
  transform: scale(1.1);
}
.burger-con {
  display: none;
  position: absolute;
  right: -50px;
  top: 15px;
}
