#imageContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.imageItem {
  position: relative;
  display: inline-block;
}

.imageItem img {
  max-width: 100px;
  max-height: 100px;
}

.imageItem span {
  position: absolute;
  top: 0;
  right: 0;
  background: rgba(255, 0, 0, 0.7);
  color: white;
  cursor: pointer;
  padding: 2px 5px;
  font-size: 12px;
}
select {
  padding: 10px 20px;
  font-size: 17px;
  border: 1px solid #c0c7cc;
}
